@model SangueHeroiWeb.Models.UsuarioModel


<div class="modal-header" style="padding-bottom: 35px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="centralizar" style="padding-bottom: 10px">
        <h2>Cadastro</h2>
    </div>
    @using (Html.BeginForm("Registrar", "Login", FormMethod.Post, new { @id = "formRegistrar" }))
            {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-group col-sm-6">
                @Html.EditorFor(model => model.EMAIL_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail", required = "required", type = "email" } })
                @Html.ValidationMessageFor(model => model.EMAIL_USUARIO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-3">
                @Html.EditorFor(model => model.SENHA_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha", required = "required" } })
                @Html.ValidationMessageFor(model => model.EMAIL_USUARIO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-3">
                @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirmar Senha", required = "required" } })
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">

                @Html.EditorFor(model => model.NOME_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuário", required = "required" } })
                @Html.ValidationMessageFor(model => model.NOME_USUARIO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">

                @Html.EditorFor(model => model.SOBRENOME_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Sobrenome", required = "required" } })
                @Html.ValidationMessageFor(model => model.SOBRENOME_USUARIO, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-10">

                @Html.EditorFor(model => model.RUA_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Rua", required = "required" } })
                @Html.ValidationMessageFor(model => model.RUA_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">

                @Html.EditorFor(model => model.NUMERO_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Nº", required = "required" } })
                @Html.ValidationMessageFor(model => model.NUMERO_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">

                @Html.EditorFor(model => model.BAIRRO_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Bairro", required = "required" } })
                @Html.ValidationMessageFor(model => model.BAIRRO_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">

                @Html.EditorFor(model => model.CIDADE_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Cidade", required = "required" } })
                @Html.ValidationMessageFor(model => model.CIDADE_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">

                @Html.EditorFor(model => model.ESTADO_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "Estado", required = "required" } })
                @Html.ValidationMessageFor(model => model.ESTADO_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">

                @Html.EditorFor(model => model.CEP_ENDERECO_USUARIO, new { htmlAttributes = new { @class = "form-control", placeholder = "CEP", required = "required" } })
                @Html.ValidationMessageFor(model => model.CEP_ENDERECO_USUARIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                @Html.DropDownListFor(model => model.TIPO_SANGUINEO,
               new SelectList(ViewBag.ListaTipoSanguineo, "TIPO_SANGUINEO"),
               "Tipo Sanguineo",
               new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">

                @Html.EditorFor(model => model.DATA_NASCIMENTO, new { htmlAttributes = new { @class = "form-control", placeholder = "Data de Nascimento", id = "txtDataNascimento", required = "required" } })
                @Html.ValidationMessageFor(model => model.DATA_NASCIMENTO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">

                @Html.EditorFor(model => model.DATA_ULTIMA_DOACAO, new { htmlAttributes = new { @class = "form-control", placeholder = "Data Ultima DoaCão", id = "txtDataUltimaDoacao", required = "required" } })
                @Html.ValidationMessageFor(model => model.DATA_ULTIMA_DOACAO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-3">
                @Html.DropDownListFor(model => model.CODIGO_HEROI,
               new SelectList(ViewBag.ListaHerois, "CODIGO_HEROI", "NOME_HEROI"),   
              null,
               new { @class = "form-control" })
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ul class="nav nav-tabs">
                    @foreach (var usuarioHeroiModel in ViewBag.ListaHerois)
                    {
                        @*if (Convert.ToInt32(usuarioHeroiModel.CODIGO_HEROI) == 1)
                        {
                            <li class="active"><a class="Heroi_@usuarioHeroiModel.CODIGO_HEROI" data-toggle="tab" href="#heroi_@usuarioHeroiModel.CODIGO_HEROI">@usuarioHeroiModel.NOME_HEROI</a></li>
                        }
                        else
                        {*@
                            <li><a class="Heroi_@usuarioHeroiModel.CODIGO_HEROI" data-toggle="tab" href="#heroi_@usuarioHeroiModel.CODIGO_HEROI">@usuarioHeroiModel.NOME_HEROI</a></li>
                        @*}*@
                    }
                    @*<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>*@
                </ul>
                 <div class="tab-content">
                     @foreach (var usuarioHeroiModel in ViewBag.ListaHerois)
                     {
                         @*if (Convert.ToInt32(usuarioHeroiModel.CODIGO_HEROI) == 1)
                         {
                            <div id="heroi_@usuarioHeroiModel.CODIGO_HEROI" class="tab-pane fade in active">
                                <h3>@usuarioHeroiModel.CARACTERISTICA_HEROI</h3>
                                <p>@usuarioHeroiModel.DESCRICAO_HEROI</p>
                            </div>
                         }
                         else
                         {*@
                            <div id="heroi_@usuarioHeroiModel.CODIGO_HEROI" class="tab-pane fade">
                                <h3>@usuarioHeroiModel.CARACTERISTICA_HEROI</h3>
                                <p style="border-bottom: 1px solid #ddd; margin-bottom:10px">@usuarioHeroiModel.DESCRICAO_HEROI</p>
                                <br />
                            </div>
                         @*}*@

                     }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <input type="submit" value="Criar" class="btn btn-default btn-lg" style="float: right" />
            </div>
        </div>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="sair">Sair</button>
</div>

<script>

    $(document).ready(function () {
        $('#sair').on('click', function () {
            $('#modalCriarConta').modal('hide');
            $('body').css({ 'padding-right': '0px' });
        })

        $('#txtDataNascimento').datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'TerCa', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'MarCo', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2050"
        });
        $('#txtDataUltimaDoacao').datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'TerCa', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'MarCo', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2050"
        });
    });


    $(document).ready(function () {
        $('form#formRegistrar').submit(function (e) {
            //Objeto Model
            var ObjUsuarioNovo = {
                NOME_USUARIO: "",
                EMAIL_USUARIO: "",
                SENHA_USUARIO: 0,
                SOBRENOME_USUARIO: "",
                RUA_ENDERECO_USUARIO: "",
                NUMERO_ENDERECO_USUARIO: 0,
                BAIRRO_ENDERECO_USUARIO: "",
                CIDADE_ENDERECO_USUARIO: "",
                ESTADO_ENDERECO_USUARIO: "",
                CEP_ENDERECO_USUARIO: 0,
                TIPO_SANGUINEO: "",
                DATA_NASCIMENTO: 0,
                DATA_ULTIMA_DOACAO: 0
            };
            //Dados Form
            var data = $(this).serializeArray();

            ObjUsuarioNovo["EMAIL_USUARIO"] = data[1].value;
            ObjUsuarioNovo["SENHA_USUARIO"] = data[2].value;
            ObjUsuarioNovo["NOME_USUARIO"] = data[3].value;
            ObjUsuarioNovo["SOBRENOME_USUARIO"] = data[4].value;
            ObjUsuarioNovo["RUA_ENDERECO_USUARIO"] = data[5].value;
            ObjUsuarioNovo["NUMERO_ENDERECO_USUARIO"] = data[6].value;
            ObjUsuarioNovo["BAIRRO_ENDERECO_USUARIO"] = data[7].value;
            ObjUsuarioNovo["CIDADE_ENDERECO_USUARIO"] = data[8].value;
            ObjUsuarioNovo["ESTADO_ENDERECO_USUARIO"] = data[9].value;
            ObjUsuarioNovo["CEP_ENDERECO_USUARIO"] = data[10].value;
            ObjUsuarioNovo["TIPO_SANGUINEO"] = data[11].value;
            ObjUsuarioNovo["DATA_NASCIMENTO"] = data[13].value;
            ObjUsuarioNovo["DATA_ULTIMA_DOACAO"] = data[14].value;

            alert(data[15].value);

            $.ajax({
                type: 'POST',
                url: './Login/Registrar',
                contentType: 'application/json',
                data: (JSON.stringify(ObjUsuarioNovo)),
                dataType: 'json',
                cache: false,
                async: true,
                success: function (data) {
                    //if(!data.isRedirect)
                    //{
                    //    alert(data.msg);
                    //}
                    //else
                    //{
                    //    window.location.href = data.redirectUrl;
                    //}

                    alert(data.msg);
                }
            });
            if (e.preventDefault) {
                e.preventDefault();
            } else {
                e.returnValue = false;
            }
        });
    });

</script>

<style type="text/css">
    .Heroi_1 {
        color: #D3C500 !important;
    }

    .Heroi_2 {
        color: #0026ff !important;
    }

    .Heroi_3 {
        color: #ff6a00 !important;
    }

    .Heroi_4 {
        color: #b200ff !important;
    }

    .Heroi_5 {
        color: #00C71A !important;
    }

    .Heroi_6 {
        color: #ff0000 !important;
    }

    .btn_heroi_1 {
        background-color: #D3C500 !important;
    }

    .btn_heroi_2 {
        background-color: #0026ff !important;
    }

    .btn_heroi_3 {
        background-color: #ff6a00 !important;
    }

    .btn_heroi_4 {
        background-color: #b200ff !important;
    }

    .btn_heroi_5 {
        background-color: #00C71A !important;
    }

    .btn_heroi_6 {
        background-color: #ff0000 !important;
    }
</style>